{% extends "layout.html" %}
{% block content %}
<div>
</div>
<div id="content">
    <h1 class="header1">
        Bio
    </h1>
    <ul class="upperlist">
        <li>
            <div class="stats">
                <p class="header">
                    Height
                </p>
                <p class="lower">
                    6'0"
                </p>
            </div>
        </li>
        <li>
            <div class="stats">
                <p class="header">
                    Weight
                </p>
                <p class="lower">
                    150 lbs
                </p>
            </div>
        </li>
        <li>
            <div class="stats">
                <p class="header">
                    Age
                </p>
                <p class="lower">
                    17
                </p>
            </div>
        </li>
        <li>
            <div class="stats">
                <p class="header">
                    Rating
                </p>
                <p class="lower">
                    4.98
                </p>
            </div>
        </li>
        <li>
            <div class="stats">
                <p class="header">
                    Hand
                </p>
                <p class="lower">
                    Left
                </p>
            </div>
        </li>
        <li>
            <div class="stats">
                <p class="header">
                    Rank
                </p>
                <p class="lower">
                    106
                </p>
            </div>
        </li>
        <li>
            <div class="stats">
                <p class="header">
                    School
                </p>
                <p class="lower">
                    <a href="https://www.baltimorecitycollege.us/" target="_blank"> BCC </a>
                </p>
            </div>
        </li>
        <li>
            <div class="stats">
                <p class="header">
                    Grade
                </p>
                <p class="lower">
                    11
                </p>
            </div>
        </li>

        <li>
            <div class="stats">
                <p class="header">
                    Grad Yr
                </p>
                <p class="lower">
                    2021
                </p>
            </div>
        </li>
    </ul>
        <br>
        <ul class="biolist">
            <li>
                <div class="bio">
                    <h2>
                        What I Want From College
                    </h2>
                    <p>
                        I hope that college will teach me the skills to excel in my personal and professional life. I hope to become a more efficient learner and more collaborative person. I hope to major in biology and and minor in computer science. I am considering pursuing a career in medicine and using machine learning to advance healthcare.
                    </p>
                </div>
            </li>
            <li>
                <div class="bio">
                    <h2>
                        Who I Am
                    </h2>
                    <p>
                        I am a junior at Baltimore City College in Baltimore, MD. Unfortunately my high school does not have a squash team but I have created a squash club. I have played squash since I was 5. I am co-captain of the debate team and we compete in numerous tournaments. I am also on my school's trivia team and write for the school paper.
                    </p>
                </div>
            </li>
            <li>
                <div class="bio">
                    <h2>
                        My Greatest Strength
                    </h2>
                    <p>
                        I think that my #1 strength as a player is that I am hardworking. I do not give up no matter what. This applies to matches, and the training beforehand. I train as much as my body allows and I constantly push myself to be better. This motivation also applies to school and projects (like this website I am building).
                    </p>
                </div>
            </li>
            <li>
                <div class="bio">
                    <h2>
                        My Favorite Classes
                    </h2>
                    <p>
                           At the moment my favorite classes are IB Physics and AP Calc AB. I enjoy learning the complex math and then using it in a real world example. In physics my favorite units are astrophysics, electrical engineering and thermodynamics. In calculus my favorite topics are applications of derivatives and applications of integrals.
                    </p>
                </div>
            </li>

        </ul>
</div>
<script type="text/javascript">
    var thirdParticlerExample = new Particler("third", {
        fillColor: "#d3c1af",
        backgroundColor: "#2c3e50"
    });

</script>

{% endblock %}
