{% extends "layout.html" %}
{% block content %}
<div>
</div>
<div id="content">
    <h1 class="header1">
        Contact
    </h1>
    <ul>
        <ul class="biolist">
            <li>
                <div class="contact">
                    <h2>
                        Please contact me at
                    </h2>
                    <p>
                       <strong>alexispballo@gmail.com</strong> or <strong>alexis.ballo2021@baltimorecitycollege.us</strong>
                    </p>
                </div>
            </li>

        </ul>
    </ul>

</div>
<script type="text/javascript">
    var thirdParticlerExample = new Particler("third", {
        fillColor: "#d3c1af",
        backgroundColor: "#2c3e50"
    });

</script>

{% endblock %}
