{% extends "layout.html" %}
{% block content %}
<div>
</div>
<div id="content">
    <h1 class="header1">
        Videos
    </h1>
    <ul class="video" margin-bottom="50px;">
        <li>
        </li>
        <li>
            <iframe class = "vid1" width="560" height="315" src="https://www.youtube.com/embed/8Nb9D6Cy2Kw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </li>
        <li>
        </li>
    </ul>
</div>
<script type="text/javascript">
    var thirdParticlerExample = new Particler("third", {
        fillColor: "#d3c1af",
        backgroundColor: "#2c3e50"
    });

</script>

{% endblock %}
